<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px 8px 5px 18px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
</style>

<div layout-padding>
    <md-toolbar class="md-theme-light md-whiteframe-5dp">
        <h2 class="md-toolbar-tools">
            <span>Lista de candidatos</span>
        </h2>
    </md-toolbar>
    <md-content class="md-whiteframe-3dp">
        <table>
            <tr>
                <th>ID</th>
                <th>CANDIDATOS</th>
                <th></th>
            </tr>

            <tr ng-repeat="vaga in vm.vagas">
                <td>{{vaga.id}}</td>
                <td>{{vaga.nome}}</td>
                <td><md-button class="md-raised" style="margin-left:150px" ng-click="vm.VerCandidato(vaga.id)">VER CANDIDATO</md-button></td>
            </tr>
        </table>
    </md-content>
</div>